/*///////////////////////////////////////*/
.miniTabBox{
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding-inline: 10px;
  margin-bottom: 10px;
}
/*///////////////////////////////////////*/

.teamsProject-container{
  position: relative;
  transition: 2s;
}

.fixedBox{
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.mini-container{
  width: auto;
  background-color: whitesmoke;
  box-shadow: 0px 0px 15px rgb(128, 128, 128);
  border-radius: 15px;
  color: black;
  transition: 1s ease-in !important;
}

.tabsMenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.tabBtn{
  display: flex;
  align-items: center;
  padding: 5px 7px;
  border-radius: 7px;
  cursor: pointer;
  transition: 100ms;
}

.tabBtn:hover{
  background-color: rgb(226, 226, 226);
}

.tabBtnActiveBg{
  background-color: rgb(226, 226, 226);
}

.tabBtn button{
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transform: translateY(1px);
  cursor: pointer;
}

.tabBtnSvg{
  width: 17px;
  cursor: pointer;
}

/*////////////////////*/

.tabBtnActive{
  animation: activeTab 150ms ease-in forwards;
}

@keyframes activeTab {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


/*////////////////////*/